*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top:30px ;
    div{
        margin-right: -100px;
        margin-left:150px ;
    }
}
@media only screen and (max-width:360px){
    .nav{
        div{
            margin-left: 50px;
        }

    }

}