* {
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  box-sizing: border-box;
  input {
    align-self: center;
    padding: 20px;
    width: 500px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.5);
    border: none;
    &:focus {
      outline: none;
    }
  }
  .button {
    padding: 15px;
    font-size: 20px;
    margin-left: 30px;
    background-color: red;

    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    color: #fff;
    position: relative;
    transition: all 0.5s;
    &:hover {
      cursor: pointer;
    }
    &:active {
      animation: button 1s;
      outline: none;
      border: none;
    }
  }
}

@keyframes button {
  0% {
    top: 0;
  }
  50% {
    top: -50px;
  }
  100% {
    top: 0;
  }
}
@media only screen and(max-width:360px){
  .container{
    margin: 40px 40px;
    input{
      width: 300px ;
    }
  }
}